<%- include('../partition/header.ejs') %>
<section class="login-wrap mtb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-box">
                    <h1 class="alert alert-success text-center">Display </h1>
                    <a href="/category/create">
                    <button class="form-control" style="background-color: #1abc9c;color: white;font-weight: 700;text-decoration: none;"></b>Add Categories</button>
                    </a>
                    <table class="table">
                        <thead>
                            
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Image</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                            <% var i=1 %>   
                            <% data.forEach((item)=>{ %>
   
                            
                               <tr>
                                   <td><%= i++ %></td>
                                   <td><%= item.title %></td>
                                   <td>IMAGE</td>
                                  
                                   <td>
                                       <a href="/category/view/<%=item._id %>">view </a>
                                       <a href="/category/edit/<%=item._id %>">Edit </a>
                                       <a href="/category/delete/<%=item._id%>">delete </a>
                                   </td>
                               </tr>
                             <%})%>
                        </tbody>
                      </table>
                </div>         
            </div>
        </div>
    </div>
</section>
<%- include('../partition/footer.ejs') %>